<h1>Cambio de Contrase単a</h1>
{{#if status}}
    <form action="/api/user/changePass" method="post">
        <input type="email" name="emailUser" id="emailUser" placeholder="email">
        <input type="password" name="newPassword" id="newPassword" placeholder="Nueva contrase単a">
        <input type="password" name="repeatPassword" id="repeatPassword" placeholder="Repita la contrase単a">
        <input type="submit" value="Cambiar contrase単a">
    </form>
{{else}}
    <form action="/api/user/sendEmail" method="post">
        <label for="email"> Ingrese su correo</label>
        <input type="email" name="email" id="email" placeholder="email">
        <input type="submit" value="Enviar Email">
    </form>
{{/if}}
